In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_parquet('Flights.parquet')

In [13]:
df.shape

(4078318, 61)

In [14]:
df.columns

Index(['FlightDate', 'Airline', 'Origin', 'Dest', 'Cancelled', 'Diverted',
       'CRSDepTime', 'DepTime', 'DepDelayMinutes', 'DepDelay', 'ArrTime',
       'ArrDelayMinutes', 'AirTime', 'CRSElapsedTime', 'ActualElapsedTime',
       'Distance', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners',
       'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline',
       'Flight_Number_Marketing_Airline', 'Operating_Airline',
       'DOT_ID_Operating_Airline', 'IATA_Code_Operating_Airline',
       'Tail_Number', 'Flight_Number_Operating_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'DestCityName',
       'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrDelay', 'ArrDel15',
       'ArrivalDelayGroups', 'ArrTimeBlk', 'DistanceGroup',
       'DivAirportLandings'],
      dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4078318 entries, 0 to 590541
Data columns (total 61 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   FlightDate                               datetime64[ns]
 1   Airline                                  object
 2   Origin                                   object
 3   Dest                                     object
 4   Cancelled                                bool
 5   Diverted                                 bool
 6   CRSDepTime                               int64
 7   DepTime                                  float64
 8   DepDelayMinutes                          float64
 9   DepDelay                                 float64
 10  ArrTime                                  float64
 11  ArrDelayMinutes                          float64
 12  AirTime                                  float64
 13  CRSElapsedTime                           float64
 14  ActualElapsedTime                        float64
 15  Distance                                 float64
 16  Year                                     int64
 17  Quarter                                  int64
 18  Month                                    int64
 19  DayofMonth                               int64
 20  DayOfWeek                                int64
 21  Marketing_Airline_Network                object
 22  Operated_or_Branded_Code_Share_Partners  object
 23  DOT_ID_Marketing_Airline                 int64
 24  IATA_Code_Marketing_Airline              object
 25  Flight_Number_Marketing_Airline          int64
 26  Operating_Airline                        object
 27  DOT_ID_Operating_Airline                 int64
 28  IATA_Code_Operating_Airline              object
 29  Tail_Number                              object
 30  Flight_Number_Operating_Airline          int64
 31  OriginAirportID                          int64
 32  OriginAirportSeqID                       int64
 33  OriginCityMarketID                       int64
 34  OriginCityName                           object
 35  OriginState                              object
 36  OriginStateFips                          int64
 37  OriginStateName                          object
 38  OriginWac                                int64
 39  DestAirportID                            int64
 40  DestAirportSeqID                         int64
 41  DestCityMarketID                         int64
 42  DestCityName                             object
 43  DestState                                object
 44  DestStateFips                            int64
 45  DestStateName                            object
 46  DestWac                                  int64
 47  DepDel15                                 float64
 48  DepartureDelayGroups                     float64
 49  DepTimeBlk                               object
 50  TaxiOut                                  float64
 51  WheelsOff                                float64
 52  WheelsOn                                 float64
 53  TaxiIn                                   float64
 54  CRSArrTime                               int64
 55  ArrDelay                                 float64
 56  ArrDel15                                 float64
 57  ArrivalDelayGroups                       float64
 58  ArrTimeBlk                               object
 59  DistanceGroup                            int64
 60  DivAirportLandings                       int64
dtypes: bool(2), datetime64[ns](1), float64(18), int64(23), object(17)
memory usage: 1.8+ GB

In [16]:
#df.to_csv(), df.to_parquet(), df.to_sql() etc

In [17]:
pd.set_option('display.max_columns', 100)

In [18]:
df.head()
#df.tail()
#df.sample()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,1228.0,0.0,40.0,72.0,65.0,212.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4301,C5,20445,C5,N21144,4301,11921,1192102,31921,"Grand Junction, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,17.0,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,848.0,0.0,55.0,77.0,80.0,295.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4299,C5,20445,C5,N16170,4299,12206,1220605,32206,"Harlingen/San Benito, TX",TX,48,Texas,74,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,0700-0759,16.0,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,1636.0,0.0,47.0,70.0,82.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N21144,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,21.0,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,1547.0,0.0,57.0,90.0,77.0,376.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4296,C5,20445,C5,N11184,4296,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,11973,1197302,31973,"Gulfport/Biloxi, MS",MS,28,Mississippi,53,0.0,-1.0,1400-1459,16.0,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,1251.0,6.0,49.0,70.0,76.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4295,C5,20445,C5,N17146,4295,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1100-1159,19.0,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0

In [20]:
df.info(verbose=False) #for quick summary

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4078318 entries, 0 to 590541
Columns: 61 entries, FlightDate to DivAirportLandings
dtypes: bool(2), datetime64[ns](1), float64(18), int64(23), object(17)
memory usage: 1.8+ GB

In [21]:
df.describe()

,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginStateFips,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestStateFips,DestWac,DepDel15,DepartureDelayGroups,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,DistanceGroup,DivAirportLandings
count,4.078318e+06,3.957885e+06,3.957823e+06,3.957823e+06,3.954079e+06,3.944916e+06,3.944916e+06,4.078318e+06,3.944916e+06,4.078318e+06,4078318.0,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,3.957823e+06,3.957823e+06,3.955652e+06,3.955652e+06,3.954076e+06,3.954076e+06,4.078318e+06,3.944916e+06,3.944916e+06,3.944916e+06,4.078318e+06,4.078318e+06
mean,1.329587e+03,1.334374e+03,1.601494e+01,1.309049e+01,1.457886e+03,1.578307e+01,1.110075e+02,1.413211e+02,1.358624e+02,7.978657e+02,2022.0,1.741207e+00,4.083803e+00,1.571131e+01,4.005566e+00,1.983101e+04,2.562115e+03,1.999122e+04,2.562145e+03,1.265994e+04,1.265998e+06,3.175708e+04,2.746504e+01,5.399368e+01,1.265990e+04,1.265994e+06,3.175704e+04,2.746550e+01,5.399338e+01,2.184625e-01,2.141248e-01,1.697375e+01,1.356576e+03,1.455073e+03,7.894387e+00,1.486058e+03,7.528486e+00,2.164715e-01,-6.256103e-02,3.663516e+00,3.685098e-03
std,4.904801e+02,5.056219e+02,5.231498e+01,5.332016e+01,5.431841e+02,5.198424e+01,6.996246e+01,7.179635e+01,7.185501e+01,5.914742e+02,0.0,7.037563e-01,1.998918e+00,8.760122e+00,2.007050e+00,2.760907e+02,1.745826e+03,3.767694e+02,1.745873e+03,1.522713e+03,1.522711e+05,1.320296e+03,1.670547e+01,2.664820e+01,1.522718e+03,1.522716e+05,1.320286e+03,1.670567e+01,2.664849e+01,4.132030e-01,2.345973e+00,9.495407e+00,5.075580e+02,5.378428e+02,6.663118e+00,5.185078e+02,5.524625e+01,4.118393e-01,2.487442e+00,2.320848e+00,1.141331e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,-7.800000e+01,1.000000e+00,0.000000e+00,8.000000e+00,-4.800000e+01,1.400000e+01,3.100000e+01,2022.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.939300e+04,1.000000e+00,1.939300e+04,1.000000e+00,1.013500e+04,1.013506e+06,3.007000e+04,1.000000e+00,1.000000e+00,1.013500e+04,1.013506e+06,3.007000e+04,1.000000e+00,1.000000e+00,0.000000e+00,-2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.000000e+02,0.000000e+00,-2.000000e+00,1.000000e+00,0.000000e+00
25%,9.140000e+02,9.170000e+02,0.000000e+00,-5.000000e+00,1.046000e+03,0.000000e+00,6.000000e+01,8.900000e+01,8.300000e+01,3.680000e+02,2022.0,1.000000e+00,2.000000e+00,8.000000e+00,2.000000e+00,1.979000e+04,1.105000e+03,1.979000e+04,1.105000e+03,1.129200e+04,1.129202e+06,3.069300e+04,1.200000e+01,3.300000e+01,1.129200e+04,1.129202e+06,3.069300e+04,1.200000e+01,3.300000e+01,0.000000e+00,-1.000000e+00,1.100000e+01,9.320000e+02,1.044000e+03,4.000000e+00,1.103000e+03,-1.400000e+01,0.000000e+00,-1.000000e+00,2.000000e+00,0.000000e+00
50%,1.320000e+03,1.325000e+03,0.000000e+00,-2.000000e+00,1.500000e+03,0.000000e+00,9.400000e+01,1.240000e+02,1.190000e+02,6.430000e+02,2022.0,2.000000e+00,4.000000e+00,1.600000e+01,4.000000e+00,1.980500e+04,2.228000e+03,1.997700e+04,2.228000e+03,1.288900e+04,1.288903e+06,3.145300e+04,2.700000e+01,4.400000e+01,1.288900e+04,1.288903e+06,3.145300e+04,2.700000e+01,4.400000e+01,0.000000e+00,-1.000000e+00,1.500000e+01,1.338000e+03,1.456000e+03,6.000000e+00,1.513000e+03,-5.000000e+00,0.000000e+00,-1.000000e+00,3.000000e+00,0.000000e+00
75%,1.735000e+03,1.744000e+03,1.100000e+01,1.100000e+01,1.914000e+03,1.000000e+01,1.410000e+02,1.710000e+02,1.670000e+02,1.035000e+03,2022.0,2.000000e+00,6.000000e+00,2.300000e+01,6.000000e+00,1.997700e+04,3.877000e+03,2.037800e+04,3.877000e+03,1.402700e+04,1.402702e+06,3.246700e+04,4.200000e+01,8.100000e+01,1.402700e+04,1.402702e+06,3.246700e+04,4.200000e+01,8.100000e+01,0.000000e+00,0.000000e+00,1.900000e+01,1.758000e+03,1.909000e+03,9.000000e+00,1.920000e+03,1.000000e+01,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00
max,2.359000e+03,2.400000e+03,7.223000e+03,7.223000e+03,2.400000e+03,7.232000e+03,7.270000e+02,6.900000e+02,7.640000e+02,5.095000e+03,2022.0,3.000000e+00,7.000000e+00,3.100000e+01,7.000000e+00,2.043600e+04,9.680000e+03,2.050000e+04,9.680000e+03,1.686900e+04,1.686901e+06,3.610100e+04,7.800000e+01,9.300000e+01,1.686900e+04,1.686901e+06,3.610100e+04,7.800000e+01,9.300000e+01,1.000000e+00,1.200000e+01,2.210000e+02,2.400000e+03,2.400000e+03,2.900000e+02,2.359000e+03,7.232000e+03,1.000000e+00,1.200000e+01,1.100000e+01,9.000000e+00

In [23]:
df[['Airline']].describe()

                       Airline
count                  4078318
unique                      21
top     Southwest Airlines Co.
freq                    731925

In [25]:
df.shape[0]

4078318

# Subset a data

In [26]:
df[['FlightDate', 'Airline', 'Origin']]

       FlightDate                                    Airline Origin
0      2022-04-04  Commutair Aka Champlain Enterprises, Inc.    GJT
1      2022-04-04  Commutair Aka Champlain Enterprises, Inc.    HRL
2      2022-04-04  Commutair Aka Champlain Enterprises, Inc.    DRO
3      2022-04-04  Commutair Aka Champlain Enterprises, Inc.    IAH
4      2022-04-04  Commutair Aka Champlain Enterprises, Inc.    DRO
...           ...                                        ...    ...
590537 2022-03-31                          Republic Airlines    MSY
590538 2022-03-17                          Republic Airlines    CLT
590539 2022-03-08                          Republic Airlines    ALB
590540 2022-03-25                          Republic Airlines    EWR
590541 2022-03-07                          Republic Airlines    EWR

[4078318 rows x 3 columns]

In [31]:
df[df.columns[-5:]]

,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,0.0,-2.0,1200-1259,1,0
1,0.0,-1.0,0800-0859,2,0
2,0.0,-1.0,1600-1659,2,0
3,0.0,-2.0,1600-1659,2,0
4,0.0,0.0,1200-1259,2,0
...,...,...,...,...,...
590537,NaN,NaN,2300-2359,5,1
590538,NaN,NaN,1900-1959,3,0
590539,1.0,12.0,1800-1859,3,0
590540,NaN,NaN,2200-2259,2,1
590541,NaN,NaN,1300-1359,2,1

# List comprehension

In [36]:
[c for c in df.columns if 'Time' in c]

['CRSDepTime',
 'DepTime',
 'ArrTime',
 'AirTime',
 'CRSElapsedTime',
 'ActualElapsedTime',
 'DepTimeBlk',
 'CRSArrTime',
 'ArrTimeBlk']

In [37]:
df[[c for c in df.columns if 'Time' in c]]

,CRSDepTime,DepTime,ArrTime,AirTime,CRSElapsedTime,ActualElapsedTime,DepTimeBlk,CRSArrTime,ArrTimeBlk
0,1133,1123.0,1228.0,40.0,72.0,65.0,1100-1159,1245,1200-1259
1,732,728.0,848.0,55.0,77.0,80.0,0700-0759,849,0800-0859
2,1529,1514.0,1636.0,47.0,70.0,82.0,1500-1559,1639,1600-1659
3,1435,1430.0,1547.0,57.0,90.0,77.0,1400-1459,1605,1600-1659
4,1135,1135.0,1251.0,49.0,70.0,76.0,1100-1159,1245,1200-1259
...,...,...,...,...,...,...,...,...,...
590537,1949,2014.0,234.0,NaN,185.0,NaN,1900-1959,2354,2300-2359
590538,1733,1817.0,NaN,NaN,129.0,NaN,1700-1759,1942,1900-1959
590539,1700,2318.0,59.0,135.0,158.0,161.0,1700-1759,1838,1800-1859
590540,2129,2322.0,939.0,NaN,86.0,NaN,2100-2159,2255,2200-2259
590541,1154,1148.0,1556.0,NaN,99.0,NaN,1100-1159,1333,1300-1359

In [40]:
df.select_dtypes('int')

,CRSDepTime,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginStateFips,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestStateFips,DestWac,CRSArrTime,DistanceGroup,DivAirportLandings
0,1133,2022,2,4,4,1,19977,4301,20445,4301,11921,1192102,31921,8,82,11292,1129202,30325,8,82,1245,1,0
1,732,2022,2,4,4,1,19977,4299,20445,4299,12206,1220605,32206,48,74,12266,1226603,31453,48,74,849,2,0
2,1529,2022,2,4,4,1,19977,4298,20445,4298,11413,1141307,30285,8,82,11292,1129202,30325,8,82,1639,2,0
3,1435,2022,2,4,4,1,19977,4296,20445,4296,12266,1226603,31453,48,74,11973,1197302,31973,28,53,1605,2,0
4,1135,2022,2,4,4,1,19977,4295,20445,4295,11413,1141307,30285,8,82,11292,1129202,30325,8,82,1245,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590537,1949,2022,1,3,31,4,19977,3621,20452,3621,13495,1349505,33495,22,72,11618,1161802,31703,34,21,2354,5,1
590538,1733,2022,1,3,17,4,19977,3437,20452,3437,11057,1105703,31057,37,36,11618,1161802,31703,34,21,1942,3,0
590539,1700,2022,1,3,8,2,19977,3413,20452,3413,10257,1025702,30257,36,22,13930,1393007,30977,17,41,1838,3,0
590540,2129,2022,1,3,25,5,19977,3450,20452,3450,11618,1161802,31703,34,21,14122,1412202,30198,42,23,2255,2,1
590541,1154,2022,1,3,7,1,19977,3585,20452,3585,11618,1161802,31703,34,21,14492,1449202,34492,37,36,1333,2,1

In [42]:
#df['Airline'] - provide the series instead of dataframe
#df[['Airline']] - provide in dataframe format

# Filtering Row

- df.loc[ ] - using name
- df.iloc[ ] - using index location

In [44]:
df.iloc[0,3] #0 row and 3 columns

'DEN'

In [45]:
df.iloc[:5,:5]

  FlightDate                                    Airline Origin Dest  Cancelled
0 2022-04-04  Commutair Aka Champlain Enterprises, Inc.    GJT  DEN      False
1 2022-04-04  Commutair Aka Champlain Enterprises, Inc.    HRL  IAH      False
2 2022-04-04  Commutair Aka Champlain Enterprises, Inc.    DRO  DEN      False
3 2022-04-04  Commutair Aka Champlain Enterprises, Inc.    IAH  GPT      False
4 2022-04-04  Commutair Aka Champlain Enterprises, Inc.    DRO  DEN      False

In [47]:
# df.iloc[5] # provide the series
df.iloc[[5]]

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
5,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DEN,TUL,False,False,955,952.0,0.0,-3.0,1238.0,0.0,77.0,105.0,106.0,541.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4294,C5,20445,C5,N11191,4294,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,15370,1537002,34653,"Tulsa, OK",OK,40,Oklahoma,73,0.0,-1.0,0900-0959,25.0,1017.0,1234.0,4.0,1240,-2.0,0.0,-1.0,1200-1259,3,0

In [53]:
df.iloc[:, [1]]

                                          Airline
0       Commutair Aka Champlain Enterprises, Inc.
1       Commutair Aka Champlain Enterprises, Inc.
2       Commutair Aka Champlain Enterprises, Inc.
3       Commutair Aka Champlain Enterprises, Inc.
4       Commutair Aka Champlain Enterprises, Inc.
...                                           ...
590537                          Republic Airlines
590538                          Republic Airlines
590539                          Republic Airlines
590540                          Republic Airlines
590541                          Republic Airlines

[4078318 rows x 1 columns]

In [57]:
df.loc[:, ['Airline']]

                                          Airline
0       Commutair Aka Champlain Enterprises, Inc.
1       Commutair Aka Champlain Enterprises, Inc.
2       Commutair Aka Champlain Enterprises, Inc.
3       Commutair Aka Champlain Enterprises, Inc.
4       Commutair Aka Champlain Enterprises, Inc.
...                                           ...
590537                          Republic Airlines
590538                          Republic Airlines
590539                          Republic Airlines
590540                          Republic Airlines
590541                          Republic Airlines

[4078318 rows x 1 columns]

In [65]:
#Boolean Expresion in loc
df[df.loc[:, 'Airline'] == 'Spirit Air Lines'].shape, df.shape

((129208, 61), (4078318, 61))

In [67]:
df.loc[df.loc[:, 'Airline'] == 'Spirit Air Lines']

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
407040,2022-04-01,Spirit Air Lines,FLL,ORD,True,False,2025,NaN,NaN,NaN,NaN,NaN,NaN,193.0,NaN,1182.0,2022,2,4,1,5,NK,NK,20416,NK,1,NK,20416,NK,N669NK,1,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,NaN,NaN,2000-2059,NaN,NaN,NaN,NaN,2238,NaN,NaN,NaN,2200-2259,5,0
407041,2022-04-02,Spirit Air Lines,FLL,ORD,True,False,2147,NaN,NaN,NaN,NaN,NaN,NaN,192.0,NaN,1182.0,2022,2,4,2,6,NK,NK,20416,NK,1,NK,20416,NK,N680NK,1,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,NaN,NaN,2100-2159,NaN,NaN,NaN,NaN,2359,NaN,NaN,NaN,2300-2359,5,0
407042,2022-04-03,Spirit Air Lines,FLL,ORD,False,False,2147,211.0,264.0,264.0,421.0,262.0,163.0,192.0,190.0,1182.0,2022,2,4,3,7,NK,NK,20416,NK,1,NK,20416,NK,N661NK,1,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,1.0,12.0,2100-2159,18.0,229.0,412.0,9.0,2359,262.0,1.0,12.0,2300-2359,5,0
407043,2022-04-04,Spirit Air Lines,FLL,ORD,False,False,2147,2227.0,40.0,40.0,39.0,40.0,157.0,192.0,192.0,1182.0,2022,2,4,4,1,NK,NK,20416,NK,1,NK,20416,NK,N680NK,1,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,1.0,2.0,2100-2159,25.0,2252.0,29.0,10.0,2359,40.0,1.0,2.0,2300-2359,5,0
407044,2022-04-05,Spirit Air Lines,FLL,ORD,False,False,2200,2252.0,52.0,52.0,58.0,46.0,164.0,192.0,186.0,1182.0,2022,2,4,5,2,NK,NK,20416,NK,1,NK,20416,NK,N681NK,1,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,1.0,3.0,2200-2259,13.0,2305.0,49.0,9.0,12,46.0,1.0,3.0,0001-0559,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142478,2022-03-27,Spirit Air Lines,EWR,LAS,False,False,1700,1705.0,5.0,5.0,2019.0,58.0,297.0,321.0,374.0,2227.0,2022,1,3,27,7,NK,NK,20416,NK,993,NK,20416,NK,N693NK,993,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,12889,1288903,32211,"Las Vegas, NV",NV,32,Nevada,85,0.0,0.0,1700-1759,69.0,1814.0,2011.0,8.0,1921,58.0,1.0,3.0,1900-1959,9,0
142479,2022-03-28,Spirit Air Lines,EWR,LAS,False,False,1700,1802.0,62.0,62.0,2043.0,82.0,312.0,321.0,341.0,2227.0,2022,1,3,28,1,NK,NK,20416,NK,993,NK,20416,NK,N641NK,993,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,12889,1288903,32211,"Las Vegas, NV",NV,32,Nevada,85,1.0,4.0,1700-1759,24.0,1826.0,2038.0,5.0,1921,82.0,1.0,5.0,1900-1959,9,0
142480,2022-03-29,Spirit Air Lines,EWR,LAS,False,False,1700,1654.0,0.0,-6.0,1912.0,0.0,300.0,321.0,318.0,2227.0,2022,1,3,29,2,NK,NK,20416,NK,993,NK,20416,NK,N623NK,993,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,12889,1288903,32211,"Las Vegas, NV",NV,32,Nevada,85,0.0,-1.0,1700-1759,11.0,1705.0,1905.0,7.0,1921,-9.0,0.0,-1.0,1900-1959,9,0
142481,2022-03-30,Spirit Air Lines,EWR,LAS,False,False,1700,1709.0,9.0,9.0,2004.0,43.0,296.0,321.0,355.0,2227.0,2022,1,3,30,3,NK,NK,20416,NK,993,NK,20416,NK,N645NK,993,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,12889,1288903,32211,"Las Vegas, NV",NV,32,Nevada,85,0.0,0.0,1700-1759,52.0,1801.0,1957.0,7.0,1921,43.0,1.0,2.0,1900-1959,9,0
142482,2022-03-31,Spirit Air Lines,EWR,LAS,True,False,1700,1804.0,64.0,64.0,NaN,NaN,NaN,321.0,NaN,2227.0,2022,1,3,31,4,NK,NK,20416,NK,993,NK,20416,NK,N650NK,993,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,12889,1288903,32211,"Las Vegas, NV",NV,32,Nevada,85,1.0,4.0,1700-1759,NaN,NaN,NaN,NaN,1921,NaN,NaN,NaN,1900-1959,9,0

In [77]:
#filtering based on multiple condition
df.loc[(df.loc[:, 'Airline'] == 'Spirit Air Lines')
       & (df.loc[:, 'FlightDate'] == '2022-01-01')]

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
113924,2022-01-01,Spirit Air Lines,FLL,ORD,False,False,2240,2254.0,14.0,14.0,56.0,0.0,158.0,198.0,182.0,1182.0,2022,1,1,1,6,NK,NK,20416,NK,1,NK,20416,NK,N908NK,1,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,0.0,0.0,2200-2259,11.0,2305.0,43.0,13.0,58,-2.0,0.0,-1.0,0001-0559,5,0
113955,2022-01-01,Spirit Air Lines,ORD,FLL,False,False,515,533.0,18.0,18.0,938.0,15.0,154.0,188.0,185.0,1182.0,2022,1,1,1,6,NK,NK,20416,NK,2,NK,20416,NK,N687NK,2,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,1.0,1.0,0001-0559,24.0,557.0,931.0,7.0,923,15.0,1.0,1.0,0900-0959,5,0
113986,2022-01-01,Spirit Air Lines,ORD,FLL,False,False,715,710.0,0.0,-5.0,1110.0,0.0,160.0,191.0,180.0,1182.0,2022,1,1,1,6,NK,NK,20416,NK,3,NK,20416,NK,N919NK,3,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,0.0,-1.0,0700-0759,14.0,724.0,1104.0,6.0,1126,-16.0,0.0,-2.0,1100-1159,5,0
114010,2022-01-01,Spirit Air Lines,FLL,ORD,False,False,1635,1637.0,2.0,2.0,1915.0,19.0,186.0,201.0,218.0,1182.0,2022,1,1,1,6,NK,NK,20416,NK,6,NK,20416,NK,N670NK,6,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,0.0,0.0,1600-1659,17.0,1654.0,1900.0,15.0,1856,19.0,1.0,1.0,1800-1859,5,0
114034,2022-01-01,Spirit Air Lines,ATL,MSP,False,False,1750,1803.0,13.0,13.0,1930.0,1.0,127.0,159.0,147.0,907.0,2022,1,1,1,6,NK,NK,20416,NK,40,NK,20416,NK,N676NK,40,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13487,1348702,31650,"Minneapolis, MN",MN,27,Minnesota,63,0.0,0.0,1700-1759,15.0,1818.0,1925.0,5.0,1929,1.0,0.0,0.0,1900-1959,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131334,2022-01-01,Spirit Air Lines,CLT,FLL,False,False,825,823.0,0.0,-2.0,1012.0,0.0,87.0,128.0,109.0,632.0,2022,1,1,1,6,NK,NK,20416,NK,980,NK,20416,NK,N923NK,980,11057,1105703,31057,"Charlotte, NC",NC,37,North Carolina,36,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,0.0,-1.0,0800-0859,13.0,836.0,1003.0,9.0,1033,-21.0,0.0,-2.0,1000-1059,3,0
131365,2022-01-01,Spirit Air Lines,FLL,CLT,False,False,1220,1215.0,0.0,-5.0,1422.0,0.0,97.0,127.0,127.0,632.0,2022,1,1,1,6,NK,NK,20416,NK,981,NK,20416,NK,N945NK,981,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,11057,1105703,31057,"Charlotte, NC",NC,37,North Carolina,36,0.0,-1.0,1200-1259,24.0,1239.0,1416.0,6.0,1427,-5.0,0.0,-1.0,1400-1459,3,0
131396,2022-01-01,Spirit Air Lines,DTW,MSY,False,False,1730,1726.0,0.0,-4.0,1944.0,34.0,152.0,160.0,198.0,926.0,2022,1,1,1,6,NK,NK,20416,NK,985,NK,20416,NK,N650NK,985,11433,1143302,31295,"Detroit, MI",MI,26,Michigan,43,13495,1349505,33495,"New Orleans, LA",LA,22,Louisiana,72,0.0,-1.0,1700-1759,42.0,1808.0,1940.0,4.0,1910,34.0,1.0,2.0,1900-1959,4,0
131418,2022-01-01,Spirit Air Lines,MSY,ORD,False,False,950,952.0,2.0,2.0,1200.0,0.0,111.0,141.0,128.0,836.0,2022,1,1,1,6,NK,NK,20416,NK,992,NK,20416,NK,N626NK,992,13495,1349505,33495,"New Orleans, LA",LA,22,Louisiana,72,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,0.0,0.0,0900-0959,12.0,1004.0,1155.0,5.0,1211,-11.0,0.0,-1.0,1200-1259,4,0
131447,2022-01-01,Spirit Air Lines,EWR,LAS,True,False,650,NaN,NaN,NaN,NaN,NaN,NaN,333.0,NaN,2227.0,2022,1,1,1,6,NK,NK,20416,NK,993,NK,20416,NK,N940NK,993,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,12889,1288903,32211,"Las Vegas, NV",NV,32,Nevada,85,NaN,NaN,0600-0659,NaN,NaN,NaN,NaN,923,NaN,NaN,NaN,0900-0959,9,0

In [79]:
#filtering based on inverse multiple condition
df.loc[~((df.loc[:, 'Airline'] == 'Spirit Air Lines')
       & (df.loc[:, 'FlightDate'] == '2022-01-01'))].shape, df.shape

((4077665, 61), (4078318, 61))

# Filtering using query method

In [83]:
#string representation of the boolean expression
min_time = 1130
df.query('(DepTime > @min_time) and (Origin == "DRO")')

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,1636.0,0.0,47.0,70.0,82.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N21144,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,21.0,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,1251.0,6.0,49.0,70.0,76.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4295,C5,20445,C5,N17146,4295,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1100-1159,19.0,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0
531,2022-04-03,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1524.0,0.0,-5.0,1633.0,0.0,50.0,70.0,69.0,251.0,2022,2,4,3,7,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N11191,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,9.0,1533.0,1623.0,10.0,1639,-6.0,0.0,-1.0,1600-1659,2,0
533,2022-04-03,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1134.0,0.0,-1.0,1247.0,2.0,43.0,70.0,73.0,251.0,2022,2,4,3,7,UA,UA_CODESHARE,19977,UA,4295,C5,20445,C5,N31131,4295,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,19.0,1153.0,1236.0,11.0,1245,2.0,0.0,0.0,1200-1259,2,0
1003,2022-04-02,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1644.0,75.0,75.0,1757.0,78.0,46.0,70.0,73.0,251.0,2022,2,4,2,6,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N16151,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,1.0,5.0,1500-1559,15.0,1659.0,1745.0,12.0,1639,78.0,1.0,5.0,1600-1659,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445339,2022-03-03,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1530,1521.0,0.0,-9.0,1645.0,5.0,50.0,70.0,84.0,251.0,2022,1,3,3,4,UA,UA_CODESHARE,19977,UA,4292,C5,20445,C5,N12163,4292,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,27.0,1548.0,1638.0,7.0,1640,5.0,0.0,0.0,1600-1659,2,0
445977,2022-03-02,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1530,1531.0,1.0,1.0,1651.0,11.0,50.0,70.0,80.0,251.0,2022,1,3,2,3,UA,UA_CODESHARE,19977,UA,4292,C5,20445,C5,N33182,4292,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1500-1559,19.0,1550.0,1640.0,11.0,1640,11.0,0.0,0.0,1600-1659,2,0
445986,2022-03-02,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1142.0,7.0,7.0,1245.0,0.0,46.0,70.0,63.0,251.0,2022,1,3,2,3,UA,UA_CODESHARE,19977,UA,4281,C5,20445,C5,N33182,4281,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1100-1159,11.0,1153.0,1239.0,6.0,1245,0.0,0.0,0.0,1200-1259,2,0
446617,2022-03-01,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1530,1741.0,131.0,131.0,1909.0,149.0,52.0,70.0,88.0,251.0,2022,1,3,1,2,UA,UA_CODESHARE,19977,UA,4292,C5,20445,C5,N16178,4292,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,1.0,8.0,1500-1559,25.0,1806.0,1858.0,11.0,1640,149.0,1.0,9.0,1600-1659,2,0
446626,2022-03-01,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1419.0,164.0,164.0,1523.0,158.0,46.0,70.0,64.0,251.0,2022,1,3,1,2,UA,UA_CODESHARE,19977,UA,4281,C5,20445,C5,N14174,4281,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,1.0,10.0,1100-1159,11.0,1430.0,1516.0,7.0,1245,158.0,1.0,10.0,1200-1259,2,0

# Summarizing the data in dataframe

In [95]:
df['DepTime'].min(), df['DepTime'].max(), df['DepTime'].std(), df['DepTime'].mean(), \
    df['DepTime'].var(), df['DepTime'].count(), df['DepTime'].sum(), df['DepTime'].quantile([0.25, 0.75])

(1.0,
 2400.0,
 505.62193314196895,
 1334.3739312789533,
 255653.53927422172,
 3957885,
 5281298567.0,
 0.25     917.0
 0.75    1744.0
 Name: DepTime, dtype: float64)

In [99]:
#df[['DepTime', 'DepDelay', 'ArrTime', 'ArrDelay']].min() #this gives string with column as index
df[['DepTime', 'DepDelay', 'ArrTime', 'ArrDelay']].agg(['min', 'max', 'mean'])

          DepTime     DepDelay      ArrTime     ArrDelay
min      1.000000   -78.000000     1.000000  -100.000000
max   2400.000000  7223.000000  2400.000000  7232.000000
mean  1334.373931    13.090487  1457.886018     7.528486

In [100]:
#agg method can also takes dict as input
df[['DepTime', 'DepDelay', 'ArrTime', 'ArrDelay']].agg(
    {'DepTime' : ['min', 'max'],
     'DepDelay' : ['mean'],
     'ArrTime' : ['min', 'std']
})

      DepTime   DepDelay     ArrTime
min       1.0        NaN    1.000000
max    2400.0        NaN         NaN
mean      NaN  13.090487         NaN
std       NaN        NaN  543.184106

In [103]:
df['Airline'].unique(), df['Airline'].nunique()

(array(['Commutair Aka Champlain Enterprises, Inc.',
        'GoJet Airlines, LLC d/b/a United Express',
        'Air Wisconsin Airlines Corp', 'Mesa Airlines Inc.',
        'Southwest Airlines Co.', 'Republic Airlines', 'Endeavor Air Inc.',
        'American Airlines Inc.', 'Capital Cargo International',
        'SkyWest Airlines Inc.', 'Alaska Airlines Inc.', 'JetBlue Airways',
        'Delta Air Lines Inc.', 'Frontier Airlines Inc.', 'Allegiant Air',
        'Hawaiian Airlines Inc.', 'Envoy Air', 'Spirit Air Lines',
        'Comair Inc.', 'Horizon Air', 'United Air Lines Inc.'],
       dtype=object),
 21)

In [107]:
df['Airline'].value_counts(normalize=True) #[['Airline', 'Origin']]

Southwest Airlines Co.                       0.179467
Delta Air Lines Inc.                         0.125570
American Airlines Inc.                       0.121607
SkyWest Airlines Inc.                        0.108085
United Air Lines Inc.                        0.086312
Republic Airlines                            0.048520
JetBlue Airways                              0.038446
Envoy Air                                    0.036966
Endeavor Air Inc.                            0.034971
Comair Inc.                                  0.033319
Alaska Airlines Inc.                         0.031756
Spirit Air Lines                             0.031682
Frontier Airlines Inc.                       0.021224
Allegiant Air                                0.018023
Mesa Airlines Inc.                           0.017647
Horizon Air                                  0.013810
Capital Cargo International                  0.012953
Commutair Aka Champlain Enterprises, Inc.    0.010879
Hawaiian Airlines Inc.                       0.010350
Air Wisconsin Airlines Corp                  0.009882
GoJet Airlines, LLC d/b/a United Express     0.008531
Name: Airline, dtype: float64

In [110]:
df[['Airline', 'Origin']].value_counts().reset_index()

                                        Airline Origin       0
0                          Delta Air Lines Inc.    ATL  120919
1                        American Airlines Inc.    DFW   81239
2                        American Airlines Inc.    CLT   57914
3                         United Air Lines Inc.    DEN   46489
4                        Southwest Airlines Co.    DEN   45398
...                                         ...    ...     ...
2189                     Frontier Airlines Inc.    ICT       1
2190                         Mesa Airlines Inc.    MDT       1
2191                Air Wisconsin Airlines Corp    FWA       1
2192  Commutair Aka Champlain Enterprises, Inc.    DSM       1
2193   GoJet Airlines, LLC d/b/a United Express    MKE       1

[2194 rows x 3 columns]

# Advanced column method

In [126]:
#rank based on numerical data value based on the max column
df[['CRSDepTime']].rank(method = 'dense')

        CRSDepTime
0            574.0
1            333.0
2            810.0
3            756.0
4            576.0
...            ...
590537      1070.0
590538       934.0
590539       901.0
590540      1170.0
590541       595.0

[4078318 rows x 1 columns]

In [132]:
test = pd.DataFrame ( [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago'],
    ['D', 35, 'Do'],
    ['F', 15, 'Fo'],
], columns= ['Name', 'Age', 'City'])

In [122]:
test['Age'].rank(method = 'dense')

0    1.0
1    2.0
2    3.0
3    3.0
Name: Age, dtype: float64

In [129]:
test['Age'].shift(1, fill_value=0)

0     0
1    25
2    30
3    35
Name: Age, dtype: int64

In [128]:
test['Age'].rank(method = 'first')

0    1.0
1    2.0
2    3.0
3    4.0
Name: Age, dtype: float64

In [133]:
#cumulative sum
test['Age'].cumsum()

0     25
1     55
2     90
3    125
4    140
Name: Age, dtype: int64

In [134]:
test['Age'].cummax()

0    25
1    30
2    35
3    35
4    35
Name: Age, dtype: int64

In [135]:
test['Age'].cummin()

0    25
1    25
2    25
3    25
4    15
Name: Age, dtype: int64

# Rolling methods

In [138]:
df[['DepDelayMinutes']].rolling(window = 5).mean()

        DepDelayMinutes
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   0.0
...                 ...
590537            144.2
590538            108.4
590539            145.0
590540            142.8
590541            112.0

[4078318 rows x 1 columns]

In [144]:
df['DepTime'].clip(1000, 2000)

0         1123.0
1         1000.0
2         1514.0
3         1430.0
4         1135.0
           ...
590537    2000.0
590538    1817.0
590539    2000.0
590540    2000.0
590541    1148.0
Name: DepTime, Length: 4078318, dtype: float64

# GroupBy Method

In [155]:
df.groupby('Airline')[['DepDelay']].mean()
df.groupby('Airline')[['DepDelay', 'ArrDelay']].agg(['min', 'max', 'mean']) #Multi indexed columns

                                          DepDelay                     \
                                               min     max       mean
Airline
Air Wisconsin Airlines Corp                  -30.0  1355.0   7.913244
Alaska Airlines Inc.                         -63.0   915.0   5.925950
Allegiant Air                                -37.0  1917.0  19.061569
American Airlines Inc.                       -35.0  2994.0  14.876556
Capital Cargo International                  -34.0  1512.0   6.044430
Comair Inc.                                  -49.0  1607.0  12.693968
Commutair Aka Champlain Enterprises, Inc.    -27.0  1464.0  12.093640
Delta Air Lines Inc.                         -38.0  1287.0  11.398599
Endeavor Air Inc.                            -34.0  1973.0   9.696390
Envoy Air                                    -29.0  5327.0   6.883448
Frontier Airlines Inc.                       -40.0  1288.0  20.052761
GoJet Airlines, LLC d/b/a United Express     -43.0  1220.0  16.741980
Hawaiian Airlines Inc.                       -32.0  1847.0   6.612163
Horizon Air                                  -38.0   803.0   5.892804
JetBlue Airways                              -56.0  2052.0  26.009890
Mesa Airlines Inc.                           -35.0  1837.0  15.714753
Republic Airlines                            -55.0  7223.0  10.811487
SkyWest Airlines Inc.                        -55.0  2366.0  11.247036
Southwest Airlines Co.                       -52.0   747.0  14.563121
Spirit Air Lines                             -39.0  1436.0  15.621816
United Air Lines Inc.                        -78.0  1520.0  13.730542

                                          ArrDelay
                                               min     max       mean
Airline
Air Wisconsin Airlines Corp                  -63.0  1353.0   1.819183
Alaska Airlines Inc.                         -76.0   908.0   3.170588
Allegiant Air                                -69.0  1919.0  20.519645
American Airlines Inc.                       -80.0  2977.0   9.528696
Capital Cargo International                  -52.0  1490.0   2.627024
Comair Inc.                                  -65.0  1612.0   9.339501
Commutair Aka Champlain Enterprises, Inc.    -62.0  1456.0   8.018588
Delta Air Lines Inc.                         -86.0  1285.0   3.925805
Endeavor Air Inc.                            -61.0  1968.0   4.164953
Envoy Air                                    -60.0  5324.0   2.381778
Frontier Airlines Inc.                       -72.0  1311.0  17.218371
GoJet Airlines, LLC d/b/a United Express     -58.0  1199.0  12.887419
Hawaiian Airlines Inc.                       -65.0  1805.0   4.489443
Horizon Air                                  -41.0   803.0   4.278277
JetBlue Airways                             -100.0  2029.0  20.009015
Mesa Airlines Inc.                           -77.0  1818.0   8.766944
Republic Airlines                            -81.0  7232.0   7.208726
SkyWest Airlines Inc.                        -73.0  2363.0   5.964007
Southwest Airlines Co.                       -69.0   731.0   7.176226
Spirit Air Lines                             -55.0  1436.0  12.234907
United Air Lines Inc.                        -75.0  1496.0   6.624249

In [156]:
df2 = df.groupby('Airline')[['DepDelay', 'ArrDelay']].agg(['min', 'max', 'mean'])

In [158]:
df2.columns

MultiIndex([('DepDelay',  'min'),
            ('DepDelay',  'max'),
            ('DepDelay', 'mean'),
            ('ArrDelay',  'min'),
            ('ArrDelay',  'max'),
            ('ArrDelay', 'mean')],
           )

In [159]:
df2.columns.to_flat_index() #list of tuple

Index([ ('DepDelay', 'min'),  ('DepDelay', 'max'), ('DepDelay', 'mean'),
        ('ArrDelay', 'min'),  ('ArrDelay', 'max'), ('ArrDelay', 'mean')],
      dtype='object')

In [ ]:
df2.columns = ['_'.join(c) for c in df2.columns]

In [167]:
df2.head(2)

,DepDelay_min,DepDelay_max,DepDelay_mean,ArrDelay_min,ArrDelay_max,ArrDelay_mean
Airline,,,,,,
Air Wisconsin Airlines Corp,-30.0,1355.0,7.913244,-63.0,1353.0,1.819183
Alaska Airlines Inc.,-63.0,915.0,5.925950,-76.0,908.0,3.170588

# New Columns

In [173]:
df['DepTime2'] = df['DepTime'] / 60

In [174]:
df = df.assign(DepTime3 = df['DepTime'] / 2)
df.head(2)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings,DepTime2,DepTime3
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,1228.0,0.0,40.0,72.0,65.0,212.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4301,C5,20445,C5,N21144,4301,11921,1192102,31921,"Grand Junction, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,17.0,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0,18.716667,561.5
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,848.0,0.0,55.0,77.0,80.0,295.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4299,C5,20445,C5,N16170,4299,12206,1220605,32206,"Harlingen/San Benito, TX",TX,48,Texas,74,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,0700-0759,16.0,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0,12.133333,364.0

In [4]:
df[['FlightDate','Airline','ArrDelay']].sort_values('ArrDelay', ascending = False) \
.reset_index(drop = True)

        FlightDate                 Airline  ArrDelay
0       2022-05-23       Republic Airlines    7232.0
1       2022-06-18               Envoy Air    5324.0
2       2022-05-16       Republic Airlines    4318.0
3       2022-06-05  American Airlines Inc.    2977.0
4       2022-03-26  American Airlines Inc.    2934.0
...            ...                     ...       ...
4078313 2022-03-31       Republic Airlines       NaN
4078314 2022-03-31       Republic Airlines       NaN
4078315 2022-03-17       Republic Airlines       NaN
4078316 2022-03-25       Republic Airlines       NaN
4078317 2022-03-07       Republic Airlines       NaN

[4078318 rows x 3 columns]

# Handling Missing data

In [6]:
df[['FlightDate','Airline','ArrDelay']].isna().sum()

FlightDate         0
Airline            0
ArrDelay      133402
dtype: int64

In [8]:
#df[['FlightDate','Airline'su,'ArrDelay']].dropna(subset = 'ArrDelay') Drop only happend when null is in ArrDelay column
df[['FlightDate','Airline','ArrDelay']].fillna(-9999)

       FlightDate                                    Airline  ArrDelay
0      2022-04-04  Commutair Aka Champlain Enterprises, Inc.     -17.0
1      2022-04-04  Commutair Aka Champlain Enterprises, Inc.      -1.0
2      2022-04-04  Commutair Aka Champlain Enterprises, Inc.      -3.0
3      2022-04-04  Commutair Aka Champlain Enterprises, Inc.     -18.0
4      2022-04-04  Commutair Aka Champlain Enterprises, Inc.       6.0
...           ...                                        ...       ...
590537 2022-03-31                          Republic Airlines   -9999.0
590538 2022-03-17                          Republic Airlines   -9999.0
590539 2022-03-08                          Republic Airlines     381.0
590540 2022-03-25                          Republic Airlines   -9999.0
590541 2022-03-07                          Republic Airlines   -9999.0

[4078318 rows x 3 columns]

In [9]:
df[['ArrDelay']].fillna(df['ArrDelay'].mean())

          ArrDelay
0       -17.000000
1        -1.000000
2        -3.000000
3       -18.000000
4         6.000000
...            ...
590537    7.528486
590538    7.528486
590539  381.000000
590540    7.528486
590541    7.528486

[4078318 rows x 1 columns]

# Combining data

In [13]:
df1 = df.query('Airline == "Southwest Airlines Co."').copy() #to make df2 independent from df
df2 = df.query('Airline == "Delta Air Lines Inc."').copy()

In [15]:
df_stack = pd.concat([df1, df2])

df1 = df1.reset_index(drop = True)
df2 = df2.reset_index(drop = True)

df_side = pd.concat([df1, df2], axis = 1)

In [16]:
df_stack.shape, df1.shape, df2.shape, df_side.shape

((1244039, 61), (731925, 61), (512114, 61), (731925, 122))

# Merge data based on similar columns

In [23]:
df1 = df.groupby(['Airline', 'FlightDate'])[['DepDelay']].mean().reset_index()
df2 = df.groupby(['Airline', 'FlightDate'])[['ArrDelay']].mean().reset_index()

In [24]:
df1.columns, df2.columns

(Index(['Airline', 'FlightDate', 'DepDelay'], dtype='object'),
 Index(['Airline', 'FlightDate', 'ArrDelay'], dtype='object'))

In [29]:
#df1.merge(df2) take similar column from both the data source and combined those
df1.merge(df2, how = 'inner')

                          Airline FlightDate   DepDelay   ArrDelay
0     Air Wisconsin Airlines Corp 2022-01-01   8.784810   5.717949
1     Air Wisconsin Airlines Corp 2022-01-02  41.766082  36.641176
2     Air Wisconsin Airlines Corp 2022-01-03  46.183544  36.525316
3     Air Wisconsin Airlines Corp 2022-01-04   6.141304  -5.842391
4     Air Wisconsin Airlines Corp 2022-01-05  20.532967  20.250000
...                           ...        ...        ...        ...
4447        United Air Lines Inc. 2022-07-27  12.064677   4.912778
4448        United Air Lines Inc. 2022-07-28  14.437948   6.640288
4449        United Air Lines Inc. 2022-07-29  11.029185   4.629425
4450        United Air Lines Inc. 2022-07-30   6.192961  -4.716889
4451        United Air Lines Inc. 2022-07-31  12.688534   4.626857

[4452 rows x 4 columns]

In [30]:
pd.merge(df1, df2, on = ['Airline', 'FlightDate'])

                          Airline FlightDate   DepDelay   ArrDelay
0     Air Wisconsin Airlines Corp 2022-01-01   8.784810   5.717949
1     Air Wisconsin Airlines Corp 2022-01-02  41.766082  36.641176
2     Air Wisconsin Airlines Corp 2022-01-03  46.183544  36.525316
3     Air Wisconsin Airlines Corp 2022-01-04   6.141304  -5.842391
4     Air Wisconsin Airlines Corp 2022-01-05  20.532967  20.250000
...                           ...        ...        ...        ...
4447        United Air Lines Inc. 2022-07-27  12.064677   4.912778
4448        United Air Lines Inc. 2022-07-28  14.437948   6.640288
4449        United Air Lines Inc. 2022-07-29  11.029185   4.629425
4450        United Air Lines Inc. 2022-07-30   6.192961  -4.716889
4451        United Air Lines Inc. 2022-07-31  12.688534   4.626857

[4452 rows x 4 columns]

In [31]:
pd.merge(df1, df2, on = ['Airline'])

,Airline,FlightDate_x,DepDelay,FlightDate_y,ArrDelay
0,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-01,5.717949
1,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-02,36.641176
2,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-03,36.525316
3,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-04,-5.842391
4,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-05,20.250000
...,...,...,...,...,...
943819,United Air Lines Inc.,2022-07-31,12.688534,2022-07-27,4.912778
943820,United Air Lines Inc.,2022-07-31,12.688534,2022-07-28,6.640288
943821,United Air Lines Inc.,2022-07-31,12.688534,2022-07-29,4.629425
943822,United Air Lines Inc.,2022-07-31,12.688534,2022-07-30,-4.716889
943823,United Air Lines Inc.,2022-07-31,12.688534,2022-07-31,4.626857

In [32]:
pd.merge(df1, df2, left_on = ['Airline', 'FlightDate'], right_on = ['Airline', 'FlightDate']) # if the name is different in both the data frame

                          Airline FlightDate   DepDelay   ArrDelay
0     Air Wisconsin Airlines Corp 2022-01-01   8.784810   5.717949
1     Air Wisconsin Airlines Corp 2022-01-02  41.766082  36.641176
2     Air Wisconsin Airlines Corp 2022-01-03  46.183544  36.525316
3     Air Wisconsin Airlines Corp 2022-01-04   6.141304  -5.842391
4     Air Wisconsin Airlines Corp 2022-01-05  20.532967  20.250000
...                           ...        ...        ...        ...
4447        United Air Lines Inc. 2022-07-27  12.064677   4.912778
4448        United Air Lines Inc. 2022-07-28  14.437948   6.640288
4449        United Air Lines Inc. 2022-07-29  11.029185   4.629425
4450        United Air Lines Inc. 2022-07-30   6.192961  -4.716889
4451        United Air Lines Inc. 2022-07-31  12.688534   4.626857

[4452 rows x 4 columns]

In [7]:
import pandas as pd

In [9]:
??pd.merge